/* General Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;  
    font-family: ‘Montserrat’, sans-serif;;
}
li {
    list-style: none;
    color: #a3a3a3; 
}
p {
    margin: 1em 0;
}

/* MAIN & CONTAINER */
main {
    width: 85%;
    min-height: calc(100vh - 100px);
}

/* Container Div */
.container {
    position: relative;
    height: calc(100vh - 100px);
    overflow-y: scroll ;
    background-color: #141922;
    color: #a3a3a3;
    padding: 100px 2.5% 100px;
}
.container h2,
.container h3 {
    margin: 1em 0;
    color: white;
}

/* Upper call to action oversection */
.fixed-upper {
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100px;
    width: 85%;
    padding: 1.5em 4em;
    background-color: rgba(0, 0, 0, 0.4);
}
.btn {
    padding: 1em 3em;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    display: inline-block;
    border: 2px solid white;
}
.btn:hover {
    cursor: pointer;
    transform: scale(101%);
    color: black;
    background-color: white;
}

/* Navbar Elements */
.navbar {
    width: 100%;
    justify-content: center;
}
.nav-item {
    position: relative;
    font-weight: bold;
    padding: 2em 1em 0.25em;
}
.nav-item:after{
    display: none;
    position: absolute;
    content: "";
    left: 50%;
    width: 50px;
    bottom: 0;
    transform: translate(-50%, 50%);
    border: 1px solid greenyellow;
}
.nav-item:hover{
    color: white;
    cursor: pointer;
}
.nav-item:hover:after {
    display: inline-block;
}

/* Playlists Elements */
.main-playlist {
    width: 100%;
}
.box {
    text-align: center;
    min-height: 200px;
    width: 200px;
    margin: 0 20px 20px 0;
}
.box img {
    width: 100%;
}


/* Navbar on the side yeah */
.aside-navbar {
    width: 15%;
    height: calc(100vh - 100px);
    background-color: black;
    color: white;
    overflow-y: auto;
}
.aside-bottom {
    margin: auto 1em 1em 1em;
}
.logo {
    height: 100px;
    padding: 1em 3em 1em 1em; 
}
header li {
    font-size: 1em;
    padding: 0.5em 1em;
    /* Border to algin with menu-active */
    border: 1px solid black; 
}
header li:hover {
    color: white;
    cursor: pointer;
}
.aside-menu-active{
    color: white;
    border-left: 2px solid greenyellow;
}
li i {
    font-size: 1.25em;
    margin-right: 0.75em;
    width: 1em;
}
h4 {
    margin: 1em 1em 0.25em;
}
#square-plus {
    font-size: 3em;
    margin-right: 0.25em;
}
#playlist-create {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Aside Bottom rulez */
#aside-user {
    border-top: 1px solid #a3a3a3;
    padding: 1em;
}


/* Footer Settings */
footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #282828;
}


/* UTILITY CLASSES */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-space-between {
    justify-content: space-between;
}
.rounded {
    border-radius: 50%;
}