/* General Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;  
    font-family: ‘Montserrat’, sans-serif;;
}
li {
    list-style: none;
    color: #a3a3a3; 
}
p {
    color: #a3a3a3;
}
.icon-xs {
    display: none;
    padding-bottom: 0.5em;
}
.br-disappear {
    display: none;
}
/* MAIN & CONTAINER */
main {
    width: 85%;
    height: 100vh;
}

/* Container Div */
.container {
    position: relative;
    height: calc(100vh - 60px);
    overflow-y: scroll ;
    background-color: #141922;
    color: #a3a3a3;
    padding: 100px 2.5% 100px;
}
.container h2,
.container h3 {
    margin: 1em 0;
    color: white;
}

/* Upper call to action oversection */
.fixed-upper {
    position: fixed;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 10;
    height: 75px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.btn {
    font-size: 1em;
    padding: 1em 3em;
    border-radius: 50px;
    margin-right: 3em;
    color: white;
    font-weight: bold;
    display: inline-block;
    border: 2px solid white;
}
.btn:hover {
    cursor: pointer;
    transform: scale(101%);
    color: black;
    background-color: white;
}

/* Navbar Elements */
.navbar {
    width: 100%;
    justify-content: center;
}
.nav-item {
    font-size: 1em;
    margin: 0 0.25em;
    position: relative;
    font-weight: bold;
}
.nav-item:after{
    display: none;
    position: absolute;
    content: "";
    left: 50%;
    width: 50px;
    bottom: 0;
    transform: translate(-50%, 50%);
    border: 1px solid greenyellow;
}
.nav-item:hover{
    color: white;
    cursor: pointer;
}
.nav-item:hover:after {
    display: inline-block;
}

/* Playlists Elements */
.main-playlist {
    width: 100%;
}
.box {
    text-align: center;
    width: calc(16.5% - 5px);
    position: relative;
}
.box img {
    width: 100%;
    position: relative;
}
/* 
okay okay, added mouse-over play-fade effect,
img not accept ::after, had to create a dinamic square with a svg inside
 */
 .box::after{
    display: none;
    content: "";
    width: 100%;
    padding-bottom: 100%;
   
    background: url("img/circle-play-regular.svg"),
                rgba(0, 0, 0, 0.5);
    background-size:  50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    position: absolute;
    top: 0;
    left: 0;
}
.box:hover::after {
    display: inline-block;
    cursor: pointer;
}
.box-round:hover::after {
    border-radius: 50%;
}


/* SIDE HEADER */
/* General */
.aside-navbar {
    width: 15%;
    z-index: 11;
    height: calc(100vh - 60px);
    background-color: black;
    color: white;
    overflow-y: auto;
}
.aside-playlist{
    margin-top: 1em;
}
.aside-bottom {
    margin: auto 1em 1em 1em;
}
.aside-bottom li {
    padding: 0.5em;
}
.logo {
    height: 75px;
}
.logo img {
    height: 75px;
    max-width: 60%;
    margin-left: 1em ;
}
header li {
    font-size: 1em;
    padding: 0.5em 1em;
    /* Border to algin with menu-active */
    border: 1px solid black; 
}
header li:hover {
    color: white;
    cursor: pointer;
}

li i {
    font-size: 1.25em;
    margin-right: 0.75em;
    width: 1em;
}
h4 {
    color: white;
}
.icon-xl {
    width: 2em;
    margin: 0 0.5em -0.5em -0.5em;
}
/* ids */
#aside-menu-active{
    color: white;
    border-left: 2px solid greenyellow;
}
#user-pic {
    background: #a3a3a3;
    border-radius: 50%;
    height: 2em;
    width: 2em;
}
#user-name {
    font-size: 1em;
    font-weight: bold;
    color: white;
}
#square-plus {
    font-size: 3em;
    margin-right: 0.25em;
}
#playlist-create {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#aside-user {
    border-top: 1px solid #a3a3a3;
}

/* FOOTER SETTINGS */
/* General */
footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #282828;
    color: #a3a3a3;
}
.foot-current,
.foot-setting {
    align-items: center;
    width: 25%;
}
.foot-player {
    padding-top: 0.25em;
    width: 50%;
}
footer p {
    font-size: 0.75em;
}
footer h4 {
    font-size: 0.8em;
}
/* Footer-current */
.track-pic {
    height: 40px;
    margin: 10px 0.5em;
}
.icon-block {
    margin-left: 1em;
}
.icon-block i {
    display: inline-block;
    margin: 0 0.25em;
}
/* Footer player */
.player-bar,
.player-btn{
    justify-content: center;
    align-items: center;
}
.player-btn i {
    font-size: 1em;
    margin: 0 0.75em;
    color: white;
}
.player-btn #play-btn {
    font-size: 1.5em;
}
#progress-bar,
#audio-bar {
    position: relative;
    margin: 0.5em;
    width: 60%;
    border-top: 3px solid #a3a3a3;
}
#progress-bar:after,
#audio-bar:after {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 20%;
    border-top: 3px solid white;
}
/* Footer settings */
.foot-setting {
    justify-content: flex-end;
    font-size: 0.75em;
}
.foot-setting i {
    margin: 0 0.25em;
}
#audio-bar {
    width: 30%;
}


/* UTILITY CLASSES */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flex-space-between {
    justify-content: space-between;
}
.rounded {
    border-radius: 50%;
}
.gap {
    gap:5px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 1024px){
    /* box-resizing */
    .aside-navbar {
        font-size: 0.75em;
    }
    .nav-item {
        font-size: 0.75em;
        margin: 0;
    }
    .btn {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 768px){
    .aside-navbar {
        width: 25%;
    }
    main {
        width: 75%;
    }
    /* box-resizing */
    .box {
        width: calc(25% - 5px);
        min-width: 100px;
    }
    /* footer */
    .foot-current,
    .foot-setting {
        width: 30%;
        flex-wrap: nowrap;
        font-size: 0.75em;
    }
    .track-pic {
        height: 30px;
    }
    .icon-block {
        margin-left: 0.5em;
    }
    .foot-player {
        width: 40%;
        padding-top: 1em;
        font-size: 0.5em;
        flex-wrap: nowrap;
    }
    .foot-player i {
        margin: 0 0.5em;
        font-size: 0.75rem;
    }
    .player-bar {
        width: 90%;
        margin: 1em auto;
    }
}
@media only screen and (max-width: 425px){
    /* global */
    .aside-navbar {
        width: 40%; 
    }
    main {
        width: 60%;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 0.75em;
    }
    p {
        font-size: 0.5em;
    }

    
    /* box-resizing */
    .box {
        width: calc(50% - 2.5px);
    }
    .playlist {
        justify-content: space-between;
    }
    /* Footer */
    .br-disappear {
        display: inline-block;
    }
}
@media only screen and (max-width: 375px){
    /* global */
    .aside-navbar {
        width: 10%;
        padding: 2%;
    }
    main {
        width: 90%;
    }
    /* Icon changes */
    .logo,
    .aside-menu,
    .aside-playlist,
    .aside-bottom {
        display: none;
    }
    .icon-xs{
        display: block;
    }
}

/* TEMPORARY WORKING AREA */


